@import "/home/arfors/flake/home-manager/modules/waybar/base16-waybar/colors/catpuccin/themes/mocha.css";

/* === Global === */
* {
  font-family:
    JetBrains Mono Nerd Font,
    sans-serif;
  font-size: 15px;
  color: @text; /* Default foreground */
}

window#waybar {
  /* background: @mantle; */
  background: @base;
  padding: 2px 10px;
}

/* === Workspaces === */
#workspaces button {
  padding: 0 2px;
  margin-right: 6px;
  /* background-color: @surface0; */
  color: @text;
}

#workspaces button.focused {
  background-color: @surface2;
  color: @teal;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.urgent {
  background-color: @red;
}

/* === Modules === */
#tray,
#window,
#clock,
#battery,
#cpu,
#network,
#pulseaudio,
#language {
  padding: 0 6px;
  margin: 0 6px;
  color: @text;
}

#pulseaudio {
  color: @sapphire;
}

#language {
  color: @rosewater;
}

#clock {
  color: @mauve;
}

#cpu {
  color: @mauve; /* CPU accent */
}

#battery {
  color: @green; /* Battery = green */
}

#network {
  color: @yellow; /* WiFi = yellow */
}

#pulseaudio.muted {
  color: @overlay1;
}

/* Vertical separator */
#custom-sep {
  margin: 2 2px;
  padding: 4px 4px;
  font-size: 16px;
  opacity: 0.6;
  color: @overlay1;
}

/* Group margins */
.modules-right,
.modules-center,
.modules-left {
  margin: 0 4px;
}
